<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- マッパーの設定 -->
    <mappers>
        <mapper class="com.example.demo.repository.UserMapper"/>
    </mappers>
</configuration>
